<%- include('includes/header') %>

<main class="min-h-screen flex items-center justify-center">
    <div class="text-center">
        <h1 class="text-9xl font-semibold font-mono tracking-tight">404 ;(</h1>
        <div>
            <p class="font-mono text-lg pt-5">A página que você procura não existe.</p>
        </div>
        <div>
            <a href="/login/index" class="font-mono pt-10 hover:text-blue-500 hover:underline">Voltar ao inicio.</a>
        </div>
    </div>
</main>

<%- include('includes/footer') %>